discord.py[voice] @ git+https://github.com/rapptz/discord.py
git+https://github.com/rapptz/discord-ext-menus
git+https://github.com/gorialis/jishaku
numpydoc
cachetools
fuzzywuzzy
python-dotenv
parsedatetime
python-dateutil
humanize
asyncpg
lru-dict
aiofile
typing_extensions
psutil
tabulate
click
mystbin.py
topggpy
pyright
pillow
