discord.py @ git+https://github.com/rapptz/discord.py
git+https://github.com/rapptz/discord-ext-menus
git+https://github.com/gorialis/jishaku
cachetools
fuzzywuzzy
parsedatetime
python-dateutil
humanize
asyncpg
typing_extensions
psutil
tabulate
mystbin.py
topggpy
pyright
pillow
importlib_metadata
configparser